@import url(http://fonts.googleapis.com/css?family=Play);
@import url(http://fonts.googleapis.com/css?family=Play);

p {
  color: black;
  font-family: 'Play', sans-serif;
  font-size: 15px
}

body {
  background-color: #336699
}
h1 {
  font-family: 'Play', sans-serif;
  text-align: center;
  font-size: 40px
}
h2 {
  font-family: 'Play', sans-serif;
}